@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;
}

.newswap {
  background: linear-gradient(
    135deg,
    #000000,
    #180161,
    #173B45,
    #2e073f,
    #b80000
  );
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.blur {
  /* From https://css.glass */
  background: rgba(22, 20, 20, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.7px);
  -webkit-backdrop-filter: blur(10.7px);
  border: 1px solid rgba(22, 20, 20, 0.3);
}

.neo {
  border: 1px solid black;
}


.neo button:hover{
  background-color: #000000;
  color: #ffffff;
  border: 1px solid white;
  transition:  all 0.4s ease-in;
  cursor: pointer;
  
}

.neo button:focus{
  outline: none;
}

.neo option:hover{
  background-color: #000000;
  color: #ffffff;
  transition:  all 0.4s ease-in;
  cursor: pointer;
}